In [13]:
sum = 0
count = 0
for line in open("weights.txt"):
    sum += float(line)
    count += 1
    
if count == 0:
    print("The file is empty!")
else:
    print(f"The average weight is {sum / count:.2f}. A lot!")

The average weight is 73.08. A lot!

The average weight is 73.08. A lot!

In [ ]:

...
for line in open("datoteke/teze.txt"):
    ... float(line)
    ...
    ...
    
print(f"The maximal weight is {max}. A lot!")

```
for each line in the file:
    if the number in this line is greater than the biggest so far:
        the biggest so far is the number in this line
        
print the biggest so far
```

In [16]:
max = 0
for line in open("datoteke/teze.txt"):
    if float(line) > max:
        max = float(line)
print(max)

85.0

In [17]:
for line in open("datoteke/osebe.txt"):
    print(line)

Ana 72 1.70

Berta 85 1.84

Cilka 70 1.65

Dani 82 1.80

Eva 50 1.50

Fanči 64 1.65

In [18]:
line

'Fanči 64 1.65'

In [22]:
name, weight, height = line.split()

In [23]:
name

'Fanči'

In [24]:
line

'Fanči 64 1.65'

In [25]:
weight

'64'

In [26]:
s="Ana,Berta,5.6 eur"

In [27]:
who, whom, how_much = s.split(",")

In [28]:
who

'Ana'

In [29]:
whom

'Berta'

In [30]:
how_much

'5.6 eur'

In [31]:
s

'Ana,Berta,5.6 eur'

In [60]:
f = open("datoteke/report.txt", "w")

s = f'{"name":15}{"weight":7}  {"height":7}  {"bmi"}\n'
f.write(s)
f.write("-" * len(s) + "\n")

for line in open("datoteke/osebe.txt", "r"):
    name, weight, height = line.split()
    if float(weight) >= 65:
        bmi = float(weight) / float(height) ** 2
        f.write(f"{name:15}{weight:7}  {height:7}  {bmi:.2f}\n")
f.close()

In [55]:
"Cilka" * 5

'CilkaCilkaCilkaCilkaCilka'

In [56]:
s

'Ana,Berta,5.6 eur'

In [57]:
len(s)

17

In [59]:
"-" * len(s)

'-----------------'

In [61]:
s = "gcaactgttggacggctacagtgacggttggtagaactgagtcggtttaaggactcacacatcgcgggtctgcaaagtgtaatctacaagggagcccgag"

In [62]:
cnt = 0
for foo in s:
    if foo == "a":
        cnt += 1
cnt

26

In [63]:
s.count("a")

26

In [66]:
s.count("ag")

8

In [74]:
max_as = 0
max_name = ""
for line in open("datoteke/qwerty-dna.txt"):
    name, sequence = line.split()
    seq_a = sequence.count("a")
    print(name, seq_a)
    if seq_a > max_as:
        max_as = seq_a
        max_name = name
        
print("-" * 9)        
print(max_name, max_as)

ASDF13 26
SDFG14 31
DFGH15 26
FGHJ16 19
GHJK17 32
HJKL18 29
ZXCV19 24
XCVB20 21
CVBN21 24
VBNM22 27
---------
GHJK17 32

In [75]:
names = []

In [76]:
names = ["Ana", "Berta", "Cilka", "Dani", "Ema"]

In [77]:
weights = [85, 68, 75, 73, 60]

In [78]:
for name in names:
    print(name)

Ana
Berta
Cilka
Dani
Ema

In [79]:
names.append("Fanči")

In [80]:
names

['Ana', 'Berta', 'Cilka', 'Dani', 'Ema', 'Fanči']

In [82]:
s = []
for line in open("datoteke/qwerty-dna.txt"):
    name, sequence = line.split()
    s.append(name)
print(s)

['ASDF13', 'SDFG14', 'DFGH15', 'FGHJ16', 'GHJK17', 'HJKL18', 'ZXCV19', 'XCVB20', 'CVBN21', 'VBNM22']

In [85]:
s.sort(reverse=True)

In [86]:
s

['ZXCV19',
 'XCVB20',
 'VBNM22',
 'SDFG14',
 'HJKL18',
 'GHJK17',
 'FGHJ16',
 'DFGH15',
 'CVBN21',
 'ASDF13']

In [87]:
help(s.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [131]:
s = []
for line in open("datoteke/qwerty-dna.txt"):
    name, sequence = line.split()
    s.append((sequence.count("a"), name))
print(s)

[(26, 'ASDF13'), (31, 'SDFG14'), (26, 'DFGH15'), (19, 'FGHJ16'), (32, 'GHJK17'), (29, 'HJKL18'), (24, 'ZXCV19'), (21, 'XCVB20'), (24, 'CVBN21'), (27, 'VBNM22')]

In [96]:
s.sort(reverse=True)

In [97]:
s

[[32, 'GHJK17'],
 [31, 'SDFG14'],
 [29, 'HJKL18'],
 [27, 'VBNM22'],
 [26, 'DFGH15'],
 [26, 'ASDF13'],
 [24, 'ZXCV19'],
 [24, 'CVBN21'],
 [21, 'XCVB20'],
 [19, 'FGHJ16']]

In [98]:
names

['Ana', 'Berta', 'Cilka', 'Dani', 'Ema', 'Fanči']

In [99]:
names[3]

'Dani'

In [100]:
names[0]

'Ana'

In [101]:
len(names)

6

In [102]:
names[5]

'Fanči'

In [104]:
names[-2]

'Ema'

In [105]:
names

['Ana', 'Berta', 'Cilka', 'Dani', 'Ema', 'Fanči']

In [106]:
names[2:5]

['Cilka', 'Dani', 'Ema']

In [108]:
names[2]

'Cilka'

In [109]:
names[5]

'Fanči'

In [110]:
names[2:5] + names[5:7]

['Cilka', 'Dani', 'Ema', 'Fanči']

In [112]:
names[:3]

['Ana', 'Berta', 'Cilka']

In [113]:
names[3:]

['Dani', 'Ema', 'Fanči']

In [114]:
names[:-2]

['Ana', 'Berta', 'Cilka', 'Dani']

In [115]:
names[-2:]

['Ema', 'Fanči']

In [116]:
s

[[32, 'GHJK17'],
 [31, 'SDFG14'],
 [29, 'HJKL18'],
 [27, 'VBNM22'],
 [26, 'DFGH15'],
 [26, 'ASDF13'],
 [24, 'ZXCV19'],
 [24, 'CVBN21'],
 [21, 'XCVB20'],
 [19, 'FGHJ16']]

In [117]:
t = s[:3]

In [118]:
t

[[32, 'GHJK17'], [31, 'SDFG14'], [29, 'HJKL18']]

In [119]:
for element in t:
    cnt, name = element
    print(name)

GHJK17
SDFG14
HJKL18

In [120]:
for cnt, name in t:
    print(name)

GHJK17
SDFG14
HJKL18

In [124]:
for element in t:
    print(element[0])

32
31
29

In [125]:
s = (4, 5, 8, 2)

In [126]:
s[3]

2

In [127]:
names

['Ana', 'Berta', 'Cilka', 'Dani', 'Ema', 'Fanči']

In [128]:
names[0] = "Anna"

In [129]:
names

['Anna', 'Berta', 'Cilka', 'Dani', 'Ema', 'Fanči']

In [130]:
s

(4, 5, 8, 2)

In [132]:
line

'VBNM22 tggtctttaagattaactgctcattaggatctgtctccaaacactgttaccgccggcaatcacaggagaatcagtcacctaagttgcgtaggccatatcc\n'

In [133]:
line = "Ana 72 1.70"

In [134]:
name, w, h = line.split()

In [135]:
line.split()

['Ana', '72', '1.70']

In [136]:
name, weight, height = ['Ana', '72', '1.70']

In [137]:
name

'Ana'

In [138]:
cnt, name = [31, 'SDFG14']

In [139]:
phone_book = {"Ana": "040 381326", "Berta": "041 239483", "Cilka": "031 271485"}

In [140]:
phone_book

{'Ana': '040 381326', 'Berta': '041 239483', 'Cilka': '031 271485'}

In [142]:
phone_book[0]

KeyError: 0

In [143]:
phone_book["Dani"] = "2301305"

In [144]:
phone_book

{'Ana': '040 381326',
 'Berta': '041 239483',
 'Cilka': '031 271485',
 'Dani': '2301305'}

In [147]:
if "2301305" in phone_book:
    print(phone_book["Cilka"])

In [146]:
for x in phone_book:
    print(x)

Ana
Berta
Cilka
Dani

In [153]:
sequence = "tggtctttaagattaactgctcattaggatctgtctccaaacactgttaccgccggcaatcacaggagaatcagtcacctaagttgcgtaggccatatcc"

In [151]:
a = g = c = t = 0
for c in seq:
    if c == "a":
        a += 1
    if c == "g":
        g += 1
    # we're not doing this

In [157]:
counts = {}
for character in sequence:
    if character not in counts:
        counts[character] = 0
    counts[character] += 1
counts

{'t': 27, 'g': 20, 'c': 26, 'a': 27}

In [158]:
seq

'tggtctttaagattaactgctcattaggatctgtctccaaacactgttaccgccggcaatcacaggagaatcagtcacctaagttgcgtaggccatatcc'

In [162]:
i = 0
counts = {}
while i < len(seq):
    triplet = seq[i : i + 3]
    if triplet not in counts:
        counts[triplet] = 0
    counts[triplet] += 1
    i += 3
return counts

{'tgg': 1,
 'tct': 2,
 'tta': 2,
 'aga': 2,
 'act': 2,
 'gct': 1,
 'cat': 2,
 'tag': 1,
 'gat': 1,
 'ctg': 1,
 'cca': 1,
 'aac': 1,
 'gtt': 1,
 'acc': 1,
 'gcc': 1,
 'ggc': 2,
 'aat': 1,
 'cac': 2,
 'agg': 1,
 'atc': 2,
 'agt': 2,
 'cta': 1,
 'tgc': 1,
 'gta': 1,
 'c': 1}

In [163]:
triplet_counts("acgatcgtgatcgactgatcgatgcatgctagctagctagctagatcgatcgatcgatcgat")

NameError: name 'triplet_counts' is not defined

In [166]:
def triplet_counts(seq):
    i = 0
    counts = {}
    print(seq)
    while i < len(seq):
        triplet = seq[i : i + 3]
        if triplet not in counts:
            counts[triplet] = 0
        counts[triplet] += 1
        i += 3
    return counts

In [167]:
triplet_counts("acgatcgtgatcgactgatcgatgcatgctagctagctagctagatcgatcgatcgatcgat")

acgatcgtgatcgactgatcgatgcatgctagctagctagctagatcgatcgatcgatcgat

{'acg': 1,
 'atc': 3,
 'gtg': 1,
 'gac': 1,
 'tga': 1,
 'tcg': 3,
 'atg': 1,
 'cat': 1,
 'gct': 2,
 'agc': 1,
 'tag': 1,
 'cta': 1,
 'aga': 1,
 'gat': 1,
 'cga': 1,
 'at': 1}

In [169]:
triplet_counts("aaaaaaaaaaaaaaaagagagagagagagagagagagagaga")

aaaaaaaaaaaaaaaagagagagagagagagagagagagaga

{'aaa': 5, 'aga': 5, 'gag': 4}

In [170]:
triplet_counts()

TypeError: triplet_counts() missing 1 required positional argument: 'seq'

In [172]:
from math import *

In [173]:
sin()

TypeError: sin() takes exactly one argument (0 given)

In [174]:
def read_file(name):
    ...
    for line in open(name):
        ...

In [1]:
def compute_whatever(list_of_genes, count):
    ...

In [176]:
def write_file(data):
    ...

In [ ]:
data = read_file("genes.txt")
res = compute_whatever(["ASIJ34", "aSDFIWJ"], data)
write_file(res)